# ignore everything
/*

# excepting
!.gitignore
!.gitconfig
!.vimrc
!.bashrc
!.bash_aliases
!.profile
!.inputrc
!.tmux.conf
!.xinitrc
!.Xmodmap

!.tmuxinator/
!.tmuxinator/*

!.profile

!.vim/

!bin/
!bin/*

!.config/chromium/
!.config/menus/


!.config/i3
!.config/termite
!.config/heroku
