# ignore everything
/*

# excepting
!.gitignore
!.gitconfig
!.vimrc
!.bashrc
!.profile
!.bash_aliases
!.bash_profile
!.inputrc
!.tmux.conf
!.config/heroku/
!.config/i3/
!.config/termite
!.xinitrc

!.tmuxinator/
!.tmuxinator/*

!.vim/


