# ignore everything
/*

# excepting
!.gitignore
!.gitconfig
!.vimrc
!.bashrc
!.bash_aliases
!.profile
!.inputrc
!.tmux.conf
!.config/
!.xinitrc

!.tmuxinator/
!.tmuxinator/*

!.profile

!.vim/

!bin/
!bin/*
